{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/gogs-lg.png" />
			</div>
			<br><br>
			<div class="hero">
				<h1 class="ui icon header title">
					NRNU MEPhI git-based development collaboration service
				</h1>
			</div>
			See also: <a href='https://gitlab.mephi.ru'>https://gitlab.mephi.ru/</a>
		</div>
	</div>
</div>
{{template "base/footer" .}}
